/* Configuração geral */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Define altura 100% para o layout ocupar toda a tela */
    display: flex;
    flex-direction: column; /* Coloca o conteúdo em uma coluna */
}

/* Estilo do contêiner do título (alinhado à esquerda) */


/* Centralização do conteúdo principal */
.content-container {
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo no topo do container */
    padding-top: 100px; /* Adiciona um espaçamento superior para deslocar o conteúdo para baixo */
    padding-bottom: 100px; /* Evita que o conteúdo sobreponha o footer */
}

#footer {
    height: 60px;  /* Altura do footer */
    background-color: #f8f9fa;  /* Cor de fundo */
    text-align: center;
    line-height: 60px;  /* Centraliza o texto verticalmente */
    width: 100%;  /* Garante que o footer ocupe toda a largura da tela */
}

