.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Faz com que todas as cards tenham a mesma altura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Imagem dentro da card é responsiva */
.athlete-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-header {
    font-size: 1.2rem;
    font-weight: bold;
}

.table th {
    background-color: #f8f9fa;
    color: #343a40;
    font-weight: bold;

}

.table td {
    vertical-align: middle;
    min-width: 25%;
}

.athlete-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

span {
    font-style: italic;
}

.medals-list,
.sports-list {
    padding-left: 20px;
    list-style-type: disc;
}

.extra-padding-top {
    padding-top: 20px;
}

.btn-dropdown {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
    transition: all 0.3s;
}

.btn-dropdown:hover {
    background-color: #4ca1af;
    color: white;
}

.navbar-brand img {
    height: 37px;
}

body.dark .no-dark,
body.dark #welcome-section {
    background-color: inherit !important;
    color: inherit !important;
}

body.dark .carousel-caption {
    background: rgba(0, 0, 0, 0.7) !important;
}

body.dark {
    background-color: #292c35;
    color: aliceblue;
}

/* Navbar styling */
body.dark .navbar {
    background-color: #292c35 !important;
    color: aliceblue !important;
}

body.dark .navbar a,
body.dark .navbar button {
    color: aliceblue !important;
    background-color: transparent !important;
}

/* Dropdown menu styling */
body.dark .navbar .dropdown-menu {
    background-color: #292c35 !important;
    border-color: #444 !important;
}

body.dark .navbar .dropdown-menu a {
    color: aliceblue !important;
}

body.dark .navbar .dropdown-toggle {
    color: aliceblue !important;
}

/* Footer */
body.dark #footer {
    background-color: #292c35 !important;
    color: aliceblue !important;
}

body.dark .navbar-text {
    color: aliceblue !important;
}