.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Faz com que todas as cards tenham a mesma altura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Imagem dentro da card é responsiva */
.athlete-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-header {
    font-size: 1.2rem;
    font-weight: bold;
}

.table th {
    background-color: #f8f9fa;
    color: #343a40;
    font-weight: bold;

}

.table td {
    vertical-align: middle;
    min-width: 25%;
}

.athlete-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

span {
    font-style: italic;
}

.medals-list,
.sports-list {
    padding-left: 20px;
    list-style-type: disc;
}

.extra-padding-top {
    padding-top: 20px;
}

.btn-dropdown {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
    transition: all 0.3s;
}

.btn-dropdown:hover {
    background-color: #4ca1af;
    color: white;
}

.navbar-brand img {
    height: 37px;
}